.main {
  display: flex;
  flex-grow: 1;
  min-width: 0;
  background: var(--bg);
}

.center {
  align-items: center;
  justify-content: center;
}

.guildName {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
